# 1. 파이썬 함수

In [4]:
# 함수도 의미있게 이름을 지어줘야 나중에 뭔지 알수있다.
def add(a,b):
    return a+b


a,b=3,4
c=add(a,b)
print(c)


d=add(111,222)
print(d)

7
333

In [5]:
def add(a,b):
    return a+b

print(add(3,4))

7

In [6]:
add(123,123)

246

In [7]:
add(38383483747,24326482648264)

24364866132011

In [11]:
def add(a,b):
       print(a)

In [12]:
print("%d,%d의 합은 %d입니다."
%(a,b,a+b))

3,4의 합은 7입니다.

In [13]:
def say():
    print('Hi')

In [14]:
say()

Hi

In [16]:
def sub(a,b):
    return a-b
    
result=sub(a=7,b=3)
print(result)

4

In [17]:
result=sub(b=3,a=7)
print(result)

4

In [18]:
def add_many(*args):
    result=0
    for i in args:
        result=result+i
    return result

In [21]:
result=add_many(1,2,3)
print(result)

6

In [24]:
result=add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [30]:
def add_mul(choice,*args):
    if choice=="add":
        result=0
        for i in args:
            result=result+i
        return result
    elif choice=="mul":
        result=1
        for i in args:
            result=result*i
        return result

result=add_mul('add',1,2,3,4,5)
print(result)

15

In [31]:
result=add_mul('mul', 1,2,3,4,5)
print(result)

120

In [33]:
# 키워드 가변 매개변수 (**매개변수)

def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)

print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [35]:
# 함수의 리턴값은 하나!!

def add_and_mul(a,b):
    return a+b, a*b

res=add_and_mul(3,4)
print(res)

res1, res2=add_and_mul(3,4)
print("a+b=", res1)
print("a*b=", res2)

(7, 12)
a+b= 7
a*b= 12

In [36]:
def add_and_mul(a,b):
    return a+b
    return a*b

result=add_and_mul(2,3)
print(result)

5

In [37]:

# return 의 또 다른 쓰임새 = 강제종료


def say_nick(nick):
    if nick=="바보":
        return
    print("나의 별명은 %s 입니다." %nick)

say_nick('야호')

나의 별명은 야호 입니다.

In [38]:
say_nick('바보')

In [39]:
#

In [46]:
# 매개변수에 초기값 설정

def say_myself(name,age,man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

# 함수 호출

say_myself('장우성', 41)
say_myself('장우성', 41, False)

나의 이름은 장우성입니다.
나이는 41살 입니다.
남자입니다.
나의 이름은 장우성입니다.
나이는 41살 입니다.
여자입니다.

In [47]:
def say_myself(name, age, man=True):  # 함수명 수정
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자입니다.")
    else:  # else 추가
        print("여자입니다.")

# 함수 호출
say_myself('장우성', 41)        # man=True (기본값)
say_myself('장우성', 41, False)  # man=False

나의 이름은 장우성입니다.
나이는 41살 입니다.
남자입니다.
나의 이름은 장우성입니다.
나이는 41살 입니다.
여자입니다.

In [49]:
def say_myself(name, age, gender='남'):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살 입니다.")
    print(f"{gender}자입니다.")

say_myself('장우성', 41)      
# 남자 (기본값)
say_myself('장우성', 41, '여')   # 여자

나의 이름은 장우성입니다.
나이는 41살 입니다.
남자입니다.
나의 이름은 장우성입니다.
나이는 41살 입니다.
여자입니다.

# 함수의 유효범위

In [63]:
a=1
def vartest(x):
    x=x+1
    return x
    

a=vartest(a) #함수 실행하면 a 값 반환되고 a 변수에 덮어씀.
print(a)

2

In [64]:
a = 1
def vartest(value):
    global a  # 전역변수 a를 사용하겠다고 선언
    a = a + 1

vartest(a)
print(a)  # 2

2

In [66]:
# Lanbda 표현식(예약어) 사용하여 표현

add=lambda a,b : a+b
print(add(3,4))

7

# 함수의 활용

### 1) 재귀 함수 : 내가 만든 함수를 다시 호출하는 것

In [9]:
# 반복문으로 팩토리얼 구하기

def factorial(n):
    output = 1
    for i in range(1, n+1):
        output *= i
        
    return output

print('5!=', factorial(5))

5!= 120

In [3]:
def factorial(n):
    output = 1
    for i in range(1, n+1):
        output *= i
    return output

print('5!=', factorial(5))

5!= 120

In [11]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)

print('1! :', factorial(1))

1! : 1

# 머신러닝, 딥러닝 할때 쓰는  "리스트 평탕화 하는 재귀 함수 만들기"

In [15]:
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += item
        else:
            output.append(item)

    return output

example = [[1,2,3],[4,5,6],7,[8,9]]
print('원본 : ', example)
print('변환 : ', flatten(example))

원본 :  [[1, 2, 3], [4, 5, 6], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# 재귀 함수로 리스트 평탄화

In [18]:
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += flatten(item)
        else:
            output.append(item)

    return output


example = [[1,2,3],[4,[5,6]],7,[8,9]]
print('원본 : ', example)
print('변환 : ', flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]